.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .topStatsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .pieChartsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
  }
  
  .pieDiv {
    width: 300px; /* Adjust the width if necessary */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pieTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .chartsTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  